body {
  padding: 20px;
}

ul {
  margin: 20px;
}

li {
  font-size: 24px;
}

h1, h3 {
  font-weight: bold;
}

.button {
  margin: 0px 5px 0px 5px;
}

.form {
  width: 60%;
  margin: 0px auto;
}

.error {
  font-size: 24px;
  font-weight: bold;
  color: #FF0000;
}
